@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;

  --gray: #484f4f;
  --light-green: #8ca3a3;
  --brown: #a79e84;
  --light-gray: #c8c3cc;
}

/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--gray);
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Shared utility classes */
button:hover {
  cursor: pointer;
  opacity: 90%;
}

.hidden {
  display: none !important;
}

.brown {
  color: var(--brown);
}

.light-green {
  color: var(--light-green);
}

.turquoise {
  color: var(--turquoise);
}

.yellow {
  color: var(--yellow);
}

.shadow {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 5px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 4px inset;
}

.border {
  border: 1px solid rgba(211, 211, 211, 0.4) !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  gap: 5px;
}

@media (min-width: 768px) {
  .grid {
    width: 490px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
  }
}

.turn {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  gap: 10px;
}

@keyframes turn-text {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.turn p {
  font-size: 14px;
  animation: 0.6s ease-in-out turn-text;
}

@keyframes turn-icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.turn i {
  font-size: 1.8rem;
  /* margin-left: 10px; */
  animation: 0.6s ease-in-out turn-icon;
}

.menu {
  position: relative;
}

.menuBtn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: var(--light-gray);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}


.menu-btn:hover {
  background-color: rgba(211, 211, 211, 0.07);
}

.items {
  position: absolute;
  z-index: 10;
  top: 55px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.items button {
  background-color: transparent;
  padding: 8px;
  color: white;
}

.items button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tile {
  background-color: var(--light-green);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.tile:hover {
  opacity: 0.8;
  cursor: pointer;
}

.score {
  border-radius: 10px;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score p {
  font-weight: 600;
  font-size: medium;
}

.score span {
  font-weight: 400;
  font-size: small;
}

footer {
  color: white;
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

footer a {
  color: var(--yellow);
}

/* Modal styles - opens when game finishes  */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-contents {
  transform: translateY(-45px);
  height: 150px;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 10px;
}

.modal-contents button {
  padding: 10px;
  border-radius: 3px;
  color: var(--dark-gray);
}


.winner-1{
  background-color: var(--brown);
}
.winner-1 button{
  background-color: var(--yellow); 
}

.winner-2{
  background-color: var(--light-green);
}
.winner-2 button{
  background-color: var(--turquoise);
}

.tie{
  background-color: var(--gray);
}
.tie button{
  background-color: var(--light-gray);
}
